<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwj.freshmall.mapper.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.dwj.freshmall.model.GoodsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodid" jdbcType="INTEGER" property="goodid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="kind" jdbcType="VARCHAR" property="kind" />
    <result column="rate" jdbcType="REAL" property="rate" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="images2" jdbcType="VARCHAR" property="images2" />
    <result column="images3" jdbcType="VARCHAR" property="images3" />
    <result column="images4" jdbcType="VARCHAR" property="images4" />
    <result column="images5" jdbcType="VARCHAR" property="images5" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remain" jdbcType="INTEGER" property="remain" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dwj.freshmall.model.GoodsInfo">
    insert into goods (id, goodid, name, 
      kind, rate, images, images2, 
      images3, images4, images5, 
      detail, sale, price, category, 
      status, remain)
    values (#{id,jdbcType=INTEGER}, #{goodid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{kind,jdbcType=VARCHAR}, #{rate,jdbcType=REAL}, #{images,jdbcType=VARCHAR}, #{images2,jdbcType=VARCHAR}, 
      #{images3,jdbcType=VARCHAR}, #{images4,jdbcType=VARCHAR}, #{images5,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{sale,jdbcType=INTEGER}, #{price,jdbcType=REAL}, #{category,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remain,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dwj.freshmall.model.GoodsInfo">
    update goods
    set goodid = #{goodid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=REAL},
      images = #{images,jdbcType=VARCHAR},
      images2 = #{images2,jdbcType=VARCHAR},
      images3 = #{images3,jdbcType=VARCHAR},
      images4 = #{images4,jdbcType=VARCHAR},
      images5 = #{images5,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      category = #{category,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      remain = #{remain,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, goodid, name, kind, rate, images, images2, images3, images4, images5, 
    detail, sale, price, category, status, remain
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, goodid, name, kind, rate, images, images2, images3, images4, images5, 
    detail, sale, price, category, status, remain
    from goods
  </select>
  <select id="selectbykind" resultMap="BaseResultMap">
    select id, goodid, name, kind, rate, images, images2, images3, images4, images5,
    detail, sale, price, category, status, remain
    from goods
    where category =  #{category}
  </select>
  <select id="selectByName"  resultMap="BaseResultMap">
    select id, goodid, name, kind, rate, images, images2, images3, images4, images5,
    detail, sale, price, category, status, remain
    from goods
    where name like concat('%',#{name},'%')
  </select>
</mapper>