<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwj.freshmall.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.dwj.freshmall.model.OrderInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="goodid" jdbcType="VARCHAR" property="goodid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dwj.freshmall.model.OrderInfo">
    insert into order (id, orderid, goodid, 
      status, date, price, 
      num, userid)
    values (#{id,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, #{goodid,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{price,jdbcType=REAL}, 
      #{num,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dwj.freshmall.model.OrderInfo">
    update order
    set orderid = #{orderid,jdbcType=VARCHAR},
      goodid = #{goodid,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=REAL},
      num = #{num,jdbcType=INTEGER},
      userid = #{userid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, orderid, goodid, status, date, price, num, userid
    from order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, orderid, goodid, status, date, price, num, userid
    from order
  </select>
</mapper>